################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Chặn tất cả thư mục bin và obj ở bất kỳ đâu
[Bb]in/
[Oo]bj/

# Chặn file cấu hình Visual Studio
.vs/
*.user
*.suo