################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tutorial_01/bin/Debug/net8.0
/Tutorial_01/obj
/.vs
